html, body {
	height: 100%;
	margin: 0;
	font: Montserrat !important; 
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.otf);
  font-weight: bold;
}

html * {
	font-family: Montserrat !important; 
}

#map {
	height: 100%;
	z-index: 1;
}

h1 {
	position: absolute;
    margin-top: 25px;
    margin-left: 120px;
    z-index: 2;
	font-size: 0;
	width: 250px;
	height: 150px;
	background: url(../images/logos/logo_azul.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.leaflet-control-layers-expanded {
	width: 220px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border-color: #d4b58d;
	border-radius: 0;
}

.leaflet-control-layers, .leaflet-touch .leaflet-bar a {
	background-color: #fff1de;
}

.leaflet-touch .leaflet-bar a {
	font-size: 25px;
	line-height: 40px;
	width: 40px;
    height: 40px;
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 178px;
    height: 31px;
	background-position: 90% 50%;
	cursor: default;
	color: #333333;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 13px;
}

.leaflet-container .leaflet-control-layers-toggle {
}
	
	
div.leaflet-control-layers-group {
	cursor: default;
}

.leaflet-control-attribution.leaflet-control {
	font-size: 14px;
	color: black;
}

.leaflet-control-attribution.leaflet-control a {
	color: black;
}

.leaflet-tooltip {
	background: none;
	border: none;
	box-shadow: none;
}

/* REFERENCIAS */

#referencias {
position: absolute;
    width: 200px;
    height: 362px;
    top: 40%;
    left: 10px;
    z-index: 1;
    pointer-events: none;
    text-transform: capitalize;
    font-size: 24px;
    color: #333333;
}

#referencias strong {
	text-transform: uppercase;
}

.icono_referencia {
	display: none;
	color: blue;
	font-size: 12px;
	margin-bottom: 15px;
	text-align: right;
	text-transform: uppercase;
	background: yellow;
	border-style: solid;
	border-color: red;
}
